<!DOCTYPE html>

  <html lang="pt-br">
  <!--<![endif]-->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->


    <title>Mural FATEC </title>
    <!-- <base href="http://localhost/fatec/"/> -->
    <base href="http://desenvolvimentomw.com.br/anderson/tests/"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="./assets/css/normalize.css">  
    <link rel="stylesheet" href="./assets/css/sweetalert.css">      
    <link rel="stylesheet" href="./assets/css/styles.css">
    <script src="./assets/js/vue.min.js"></script>
    <script src="./assets/js/axios.min.js"></script>
  </head>

  <body>

    <header class="load-me" data-src="components/header.html"></header>
    
    <section class="page-section">
        <nav class="app-nav">
            <a href="mural.html?tab=0">
                <i class="fa fa-chevron-left"></i>
            </a>        
            <b>Voltar</b>    
        </nav>
        <div class="container tall"> 
            <div id="vaga">
                <div class="vue-loading" v-if="loading">
                    <i class="fa fa-spinner fa-spin"></i>
                </div>
                <div class="card" v-else>
                    <div class="card-body">
                        <table class="table table-bordered table-striped">
                            <thead>
                                <tr>
                                    <th colspan="2">Descrição da vaga</th>
                                </tr>
                            </thead>
                            <tbody>
                              <tr>
                                <th>Cargo</th>
                                <td>{{ vaga.cargo }}</td>
                              </tr>
                              <tr>
                                <th>Descrição</th>
                                <td>{{ vaga.descricao }}</td>
                              </tr>
                              <tr>
                                <th>Tipo</th>
                                <td>{{ vaga.tipo }}</td>
                              </tr>
                              <tr v-if="vaga.tipo == 'Estágio'">
                                  <th>Valor da Bolsa</th>
                                  <td>{{ vaga.valor_da_bolsa }}</td>
                              </tr>
                              <tr v-else>
                                <th>Remuneração</th>
                                <td>{{ vaga.remuneracao }}</td>
                              </tr>
                              <tr>
                                <th>Diferencial</th>
                                <td>{{ vaga.diferencial }}</td>
                              </tr>
                              <tr>
                                <th>Benefícios</th>
                                <td>{{ vaga.beneficios }}</td>
                              </tr>
                              <tr>
                                <th>E-mail</th>
                                <td>{{ vaga.email }}</td>
                              </tr>
                              <tr>
                                <th>Whatsapp</th>
                                <td>{{ vaga.whatsapp }}</td>
                              </tr>
                              <tr>
                                <th>Situação</th>
                                <td>{{ vaga.situacao }}</td>
                              </tr>
                              <tr>
                                <th>Data da postagem</th>
                                <td>{{ vaga.data_postagem }}</td>
                              </tr>
                              <tr>
                                <th>Prazo de validade</th>
                                <td>{{ vaga.prazo_validade }}</td>
                              </tr>
                            </tbody>
                        </table>
                        <div class="alert alert-success" v-if="vaga.candidato">
                            <i class="fa fa-check"></i> 
                            Você já está concorrendo a essa vaga
                        </div>            
                        <hr>             
                        <h5 class="card-title">                    
                            <div class="author">
                                <img :src="vaga.autor_foto" alt="" class="profile-photo">
                                <small>
                                    <a :href="`professor.html?id=${ vaga.autor_id }`">
                                        {{ vaga.autor_nome }}
                                    </a>
                                </small>
                            </div>                        
                        </h5>                
                    </div>
                    <div class="btn-group">

                        <!-- FAVORITAR -- START -->
                        <button type="button" class="btn btn-flat active" :data-id="vaga.id" v-if="vaga.favorito">
                          <i class="fa fa-star"></i>
                          Favorito
                        </button>
                        <button type="button" class="favoritar btn btn-flat" :data-id="vaga.id" v-else>
                          <i class="fa fa-star-o"></i>
                          Favoritar
                        </button>
                        <!-- FAVORITAR -- END -->
          
                        <!-- Cadastrar à vaga -- START -->
                        <button type="button" class="btn btn-flat active" v-if="vaga.candidato">
                          <i class="fa fa-check-circle"></i>
                          Concorrendo
                        </button>
                        <button type="button" class="candidatar btn btn-flat" :data-id="vaga.id" v-else>
                          <i class="fa fa-circle-o"></i>
                          Candidatar
                        </button>
                        <!-- Cadastrar à vaga -- END -->
          
                      </div>
                </div>
            </div>
        </div>
    </section>    
        
    <footer class="load-me" data-src="components/footer.html"></footer>

    <script src="./assets/js/jquery.3.2.1.js"></script>
    <script src="./assets/js/popper.min.js"></script>
    <script src="./assets/js/bootstrap.min.js"></script>
    <script src="./assets/js/jquery.mask.js"></script>
    <script src="./assets/js/sweetalert.min.js"></script>
    <script src="./assets/js/main.js"></script>
    
    <script>
      
      var prevScrollTop = getUrlParameter('scrolltop');
      var id = getUrlParameter('id');
      var vagaURL = base + 'server/vaga.php';
      var vagaApp = new Vue({
        el: '#vaga',
        data () {
          return {    
            vaga: null,                    
            loading: true,
            errored: false,
            candidato_class: '',
            id: id,
            previousPageScrolltop: prevScrollTop ? prevScrollTop : 0
          }
        },
        mounted () {
          axios
            .post(vagaURL, {
              id: id
            })
            .then(response => {              
              this.vaga = response.data;              
            })
            .catch(error => {
              console.log(error)
              this.errored = true
            })
            .finally(() => {
              this.loading = false;
            })
        }
      });      
    </script>

  </body>
</html>
