<div class="container">
    <nav class="navbar navbar-expand-xx">
    <a class="navbar-brand" href="./mural.html">
      <img src="./assets/images/logo-fatec-2.png" class="logo-img" alt="">
    </a>
    <div class="ml-auto btn-group">
      <button type="button" class="menu-button dropdown-toggle" data-toggle="dropdown" data-target="#header-menu" aria-haspopup="true" aria-expanded="false">
        <i class="fa fa-bars"></i>
      </button>
    </div>
  </nav>
</div>
<div id="header-menu" class="dropdown-menu">
  <a href="./conta.html" class="dropdown-item"><i class="fa fa-edit"></i> Minha conta</a>                 
  <a href="#" class="dropdown-item"><i class="fa fa-sign-out"></i> Sair</a>        
</div>
