$url : 'http://desenvolvimentomw.com.br/anderson/tests/';
$url : 'http://localhost/fatec/';

@import "./theme.scss";
@import "./bootstrap/bootstrap.scss";
@import "./common.scss";

/*========*/
/*  MISC  */
/*========*/
body {
  font-size: 14px;
  font-family: $font-family-sans-serif;
  background-color: $light;
  color: $dark;
  position: relative;
  &.bk {
    background-size: cover;
    &:before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      left: 0;
      top: 0;
      background-color: #000;
      opacity: 0.8;
      position: absolute;
    }
  }
}
h1, h2, h3, label, strong {
  color: $primary;
  font-weight: bold;
}
.relative {
  position: relative;
}
hr {
  border-color: rgba($dark, 15%);
}
.alert {
  text-align: center;
}
.link-to {
  cursor: pointer;
}
.surface {  
  padding: 15px;
  background-color: #fff;
  @include border-radius(5px);
  @include box-shadow(0 5px 7px rgba(0,0,0,0.15));
  h4 {
    color: $primary; 
    font-size: 18px;
    font-weight: bold;
    width: auto;
    display: inline-block;
    margin: 15px 0;
    position: relative;
    &:after{
      content: "";
      display: block;
      height: 1px;
      width: 50px;
      background-color: $gray;
      position: absolute;
      top: 50%;
      right: -65px;
      @include translateY(-50%);
    }
  }
}
button {
  cursor: pointer;
}
.logo-login {
  display: block;
  margin: 0 auto;
  max-width: 100px;
}
.custom-control-label {
  position: relative;
}
.toggle-area {
  .form-group {
    display: none;
    &.active {
      display: block;
    }
  }
}
.table.dataTable {
  td, th {
    vertical-align: middle;
    color: $dark !important;
  }
}

/* bootstrap form group */
.form-group {
  position: relative;
  .form-control {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid $secondary;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 2rem;    
    padding-right: 30px;
    @include border-radius(0);
    &:hover {
      border-color: $dark;
    }
    &:focus {
      border-color: #000;
      @include box-shadow(none !important);
    }
  }
  &.has-error {
    .form-control {
      border-color: $error;
    }
    label.error {
      background-color: $error;
      display: block;
      color: #fff;
      font-size: 12px;
      font-weight: bold;
      left: 0;
      top: 100%;
      padding: 2px 8px;
      position: absolute;
    }
    &:before {
      bottom: 0;
      background-color: $error;
      content: "\f00d";
      color: #fff;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
      height: 25px;
      line-height: 25px;
      position: absolute;
      right: 0;
      text-align: center;
      width: 25px;
      @include border-radius(50%);
      @include translateY();
    }
  }
  &.is-valid {
    &:before {
      bottom: 0;
      background-color: $success;
      content: "\f00c";
      color: #fff;
      display: inline-block;
      font: normal normal normal 14px/1 FontAwesome;
      font-size: 14px;
      height: 25px;
      line-height: 25px;
      position: absolute;
      right: 0;
      text-align: center;
      width: 25px;
      @include border-radius(50%);
      @include translateY();
    }
  }
}
/* bootstrap form group */

/*==========*/
/*  HEADER  */
/*==========*/
header {
  background-color: $primary;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1000;
  .navbar {
    padding-left: 0;
    padding-right: 0;
  }
  .container {
    position: relative;
    background-color: $primary;
    z-index: 10;
  }
  & .dropdown-menu {
    display: block;
    pointer-events: none;
    padding: 0;
    top: -300%;
    left: -2px;
    right: -2px;
    background-color: transparent;
    @include border-radius(0);
    @include translateY(67px);
    @include transition(.5s);
    z-index: 1;
    &:before {
      content: "";
      display: none;
      border: 10px solid transparent;
      border-bottom-color: darken($primary, 15%);
      height: 0;
      width: 0;
      position: absolute;
      right: 8px;
      top: -20px;
    }
    & a {
      background-color: transparent;
      display: inline-block;
      height: 40px;
      line-height: 40px;
      padding: 0 60px 0 15px;
      text-align: right;
      border-bottom: 1px solid rgba($light, 15%);
      color: #fff;
      position: relative;
      &:hover, &:focus, &:active {
        color: #fff;
        background-color: transparent;
      }
      &:last-child {
        border-bottom: none;
      }
      i.fa {
        position: absolute;
        right: 15px;
        top: 5px;
        height: 30px;
        width: 30px;
        background-color: rgba(darken($primary, 30%), 40%);
        color: #fff;
        text-align: center;
        display: block;
        line-height: 30px;
        @include box-shadow(inset 0 0 7px rgba($dark, 35%));
        @include border-radius(7px);
      }
      @for $i from 1 to 5 {
        &:nth-child(#{$i}) {
          background-color: darken($primary, $i * 3);
        }
      }
    }
    &.show {
      top: 0%;
      pointer-events: auto;
    }
  }
  .nav-link {
    color: #fff;
  }
  .navbar-brand {
    color: #fff;
    font-size: 14px;
    .logo-img {
      width: 90px;
      padding-right: 7px;
      margin-right: 7px;
      border-right: 1px solid rgba($light, 25%);
    }
  }
  .dropdown-menu-right {
    right: 0;
    left: auto;
  }
  .menu-button {
    border: none;
    color: #fff;
    height: 100%;
    width: 40px;
    margin-left: 5px;
    line-height: 50%;
    text-align: center;
    padding: 0;
    background-color: transparent;
    @include border-radius(50%);
    i.fa {
      font-size: 24px;
      color: rgba(#fff, 75%);
    }
    &:hover, &:focus, &:active {
      background-color: transparent;
      outline: none;
    }
    &.dropdown-toggle:after {
      display: none;
    }

  }
  & ~ section.container {
    padding-top: 3rem;
  }
}
.filters {
  margin-bottom: 15px;
  .custom-control-label {
    position: static;
    font-weight: 400;
    &:before {
      background-color: #fff;
      @include box-shadow(0 3px 3px rgba($dark, 25%)); 
    }
    &:before, &:after {
      top: 0.17rem;
      left: 0;
    }
  }
}
.favorite {
  background-color: whitesmoke;
  font-size: 12px !important;
  border: none;  
  width: 100%;
  text-align: center;
  @include border-radius(0 0 5px 5px);
  i.fa {
    color: $primary;
  }
  &.favorite-ok {
    pointer-events: none;
    background-color: rgba($success, 5%);    
    color: darken($success, 15%);
    .fa {
      color: $success;
    }
  }
}
.btn {
  @include box-shadow(none !important);
  .fa {
    font-size: 14px;
    display: inline-block;
    line-height: 20px;
  }
  font-weight: bold;
  &.btn-primary {
    color: #fff;
  }
  &.btn-secondary {
    background-color: $secondary;
    color: #fff;
    border: none;
    &:hover, &:focus, &:active {
      background-color: darken($secondary, 5%);
      color: #fff;
      outline: none;
      @include box-shadow(none);
    }
  }
  &.btn-danger {
    background-color: $danger;
    color: #333;
    &:hover, &:focus, &:active {
      color: #333;
      background-color: darken($danger, 10%);
      outline: none;
      @include box-shadow(none);
    }
  }
  &.btn-light {
    background-color: #fff;
    color: #333;
    @include box-shadow(0 5px 5px rgba(0,0,0,0.15));
    &:hover, &:focus, &:active {
      color: #333;
      background-color: darken($light, 10%);
      outline: none;
      @include box-shadow(none);
    }
  }
  &.btn-success {
    border: none;
    background-color: rgba($success, 85%);
  }
  &.btn-full {
    width: 100%;
    text-align: center;
  }  
}
.legendas {
  display: block;
  width: 100%;
  @extend .list-unstyled;
  li {
    display: inline-block;
    padding-left: 20px;
    font-size: 12px;
    margin-right: 7px;
    position: relative;
    &:before {
      content: "";
      display: block;
      height: 15px;
      width: 15px;
      top: 50%;
      left: 0;
      position: absolute;
      @include border-radius(7px);
      @include translateY(-50%);
      @include box-shadow(0 5px 3px rgba(0,0,0,0.4));
    }
    &.aberto {
      &:before {
        background-color: nth($estados, 1);
      }
    }
    &.andamento {
      &:before {
        background-color: nth($estados, 2);
      }
    }
    &.aguardando {
      &:before {
        background-color: nth($estados, 3);
      }
    }
    &.perdido {
      &:before {
        background-color: nth($estados, 4);
      }
    }
    &.fechado {
      &:before {
        background-color: nth($estados, 5);
        opacity: 0.2;
      }
    }
  }
}
.table.dataTable, .dataTables_wrapper {
  width: 100% !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  thead {    
    &.done-loading {
      opacity: 1;
    }
    th {
      color: $dark;
    }
  }
  tbody {
    background-color: rgba($primary, 5%);
    td {
      color: $dark;
      &:first-of-type:before {
        background-color: $primary !important;
        border: none !important;
        color: #fff !important;
        font-weight: bold;
        font-size: 14px !important;
        top: 50% !important;
        left: 0 !important;
        @include translateY(-50%);
        @include box-shadow(none !important);
        @include border-radius(0 7px 7px 0 !important);
      }
      & .ver-lead {
        display: none;
        background-color: $primary ;
        border: none;
        color: #fff;
        font-weight: bold;
        font-size: 18px;
        position: absolute;
        top: 50%;
        right: 0px;
        left: auto;
        height: 100%;
        width: 20px;
        padding: 0;
        @include translateY(-50%);
        @include box-shadow(none);
        @include border-radius(0);
        & i {
          font-size: 18px;
        }
        &:hover, &:focus, &:active {
          outline: none;
          @include box-shadow(none);
        }
      }
      &.vis {
        display: block;
        position: relative;
        & .ver-lead {
          display: block;
        }
      }
    }
  }
  .material-icons {
    font-size: 14px;
    &.rotate {
      font-size: 36px;
    }
  }
  td, th {
    font-size: 12px;
    vertical-align: middle;
    text-align: center;
    border-color: rgba($primary, 25%) !important;
  }
  .dataTables_length {
    display: none !important;
  }
  .dataTables_paginate {
    display: flex;
    ul.pagination {
      margin: 5px auto 15px !important;
      .page-item {
        .page-link {
          color: $primary;
          border: 2px solid rgba($primary, 25%);
          background-color: transparent;
        }
        &.active {
          .page-link {
            background-color: rgba($primary, 7%);
            font-weight: bold;
            border-left: none;
            border-right: none;
          }
        }
      }
    }
  }
  div.dataTables_filter {
    padding: 0;
    label {
      position: relative;
      margin-bottom: 0;
      width: 100%;
      .material-icons {
        font-size: 28px;
        position: absolute;
        right: 10px;
        top: 7px;
        pointer-events: none;
      }
    }
    input {
      border: none;
      color: #fff;
      height: 40px;
      font-size: 14px;
      background-color: rgba($primary, 14%);
      margin-left: 0 !important;
      width: 100% !important;
      @include border-radius(7px 7px 0 0);
      &:focus {
        @include box-shadow(none);
      }
    }
  }
  .status-box {
    background-color: #eee;
    height: 15px;
    width: 15px;
    margin-top: 3px;
    display: inline-block;
    @include box-shadow(0 5px 3px rgba(0,0,0,0.4));
    @include border-radius(7px);
    &.aberto {
      background-color: nth($estados, 1);
    }
    &.andamento {
      background-color: nth($estados, 2);
    }
    &.aguardando {
      background-color: nth($estados, 3);
    }
    &.perdido {
      background-color: nth($estados, 4);
    }
    &.fechado {
      background-color: nth($estados, 5);
      opacity: 0.2;
    }
  }
}
.table {
  font-size: 12px;
}
.clear-btn {
  background-color: transparent;
  border: none;
}
.see-password {
  &:hover {
    cursor: pointer;
  }
  i.fa {
    @include translateY(0);
  }
}
#fatec-btn {
  position: fixed;
  bottom: 10px;
  right: 5px;
  outline: none;
  @include box-shadow(none);
  &:focus, &:hover, &:active {
    border: none;
    background-color: transparent;
    outline: none;
    @include box-shadow(none);
  }
  & img {
    width: 75px;
  }
}
.swal-text {
  text-align: center;
}
.swal-footer {
  text-align: center;
  button {
    background-color: $primary;
    color: #fff;
    line-height: 15px;
    &:not([disabled]) {
      &:focus, &:hover {
        @include box-shadow(none);
        background-color: $primary;
      }
    }
  }
}
.vue-loading {
  padding-top: 4rem;
  padding-bottom: 4rem;
  color: transparent !important;
  text-align: center;
  .fa {
    color: $lead !important;
    font-size: 24px;
  }
}
.app-nav {
  display: flex;
  align-items: center;
  height: 50px;
  margin: -15px 0 14px;
  background-color: rgba($secondary, 33%);  
  i.fa {
    color: #fff !important;
    font-size: 17px !important;
  }
  a {
    color: #fff;
    font-size: 24px;
    width: 50px;
    height: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    background-color: rgba($secondary, 38%);   
    &:hover, &:focus {
      text-decoration: none;
    } 
  }
  > b {
    margin-left: 15px;
    color: #fff;
  }
}
#lead {
  table {
    td, th {
      padding: 5px 0;
      border-color: rgba($primary, 25%);
      display: flex;
      align-items: center;
      flex-direction: row;
      align-content: center;
      vertical-align: middle;
      line-height: 15px;
    }
    b {
      margin-right: 5px;
      font-family: $font-family-sans-serif;
    }
    .material-icons {
      color: whitesmoke !important;
      font-size: 14px;
    }
  }
}
.form-control:disabled, .form-control[readonly] {
  background-color: darken($light, 5%);
  border-color: darken($gray, 15%);
  opacity: 0.8;
}
select.form-control {
  option {
    color: $secondary;
    background-color: transparent;
  }
}
.page-section {
  margin-top: 85px;
  z-index: 900;
}
.reached {  
  margin-bottom: 3rem;
}


/*=======*/
/*  NAV  */
/*=======*/
#nav-component {
  background-color: #fff;
  margin-top: -15px;
  margin-bottom: 15px;
  &.locked {
    pointer-events: none;
  }
  button {
    border: none;
    background-color: transparent;
    border-bottom: 3px solid transparent;
    width: 50%;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    position: relative;
    height: 40px;
    padding: 8px 0;
    display: inline-block;
    &.active {
      color: $primary;
      &:before {
        content: "";
        display: block;
        height: 3px;
        width: 100%;
        background-color: $primary;
        position: absolute;
        left: 0;
        bottom: -3px;
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}


/*===========*/
/*  NAV AREA */
/*===========*/
#nav-area {
  position: relative;
  overflow: hidden;
  & > div {
    position: absolute;
    left: 100%;
    top: 0;
    width: 100%;
    opacity: 0;
    @include transition(0.5s);
    &.active {
      background-color: rgba($dark, 0);
      position: relative;
      left: 0;
      opacity: 1;
    }
  }
}

/*=============*/
/*  POST CARD  */
/*=============*/
.card {
  background-color: #fff;
  overflow: hidden;
  margin-bottom: 0;
  @include border-radius(5px);
  @include box-shadow(0 5px 5px rgba($dark, 20%));
  &-body {
    padding: 10px 2rem;
    padding-bottom: 0.75rem;
    img {
      width: 100%;
      display: block;
      margin: 15px auto;
      @include border-radius(7px);
    }
  }
  &-text {
    margin: 5px 0;
    text-align: justify;
  }
  &-link {
    color: rgba($primary, 50%);
    font-weight: bold;
    &:hover, &:focus {
      text-decoration: underline;
    }
  }
  & .jumbotron {
    display: flex;
    margin-bottom: 0;
    justify-content: flex-end;
    background-color: none;
    background: rgba($secondary, 10%);
  }
  &-link {
    background-color: transparent;
    margin: 0;
    min-width: 50px;
    text-align: center;
    border-right: 1px solid lighten($gray, 15%);
    position: relative;
    i {
      font-size: 14px;
      color: $primary;
    }
    &:last-of-type {
      border-right: none;
    }
    & + .card-link {
      margin-left: 0;
    }
    small {
      display: inline-block;
      background-color: $primary;
      height: 12px;
      min-width: 12px;
      color: #fff;
      text-align: center;
      line-height: 12px;
      font-size: 9px;
      margin-top: -5px;
      @include border-radius(2px);
    }
  }
  &-title {
    position: relative;
    font-size: 1.1rem;
    a {
      color: $dark;
    }
  }
  .author {
    margin-bottom: 5px;
    img {
      display: inline-block;
      height: 35px;
      width: 35px;
      margin: 0;
      @include border-radius(35px);
    }
  }
  &-footer {
    padding: 0;
    .form-group {
      margin: 0;
    }
    .form-control {
      padding-right: 40px;
    }
    button {
      background-color: transparent;
      border: none;
      color: $primary;
      font-size: 20px;
      position: absolute;
      right: 5px;
      top: 50%;
      @include translateY(-50%);
    }
  }
  &-link {
    border: none;
  }
  .btn-group {
    display: flex;
    flex-flow: row nowrap;
    background-color: whitesmoke;
  }
  .btn-flat {     
    color: $dark; 
    border: none;
    padding: 6px 10px;
    font-size: 11px;
    margin-top: 0;
    text-align: center;
    background-color: transparent;
    @include border-radius(0);
    & i {
      color: $dark;
    }
    &.active {
      color: $success;
      pointer-events: none;
    }
    &:last-child {
      border-right: none;
    }
    & .fa-check-circle, & .fa-star {
      color: $success;
    }
  }
}


/*===============*/
/*  MURAL VAGAS  */
/*===============*/
#mural-vagas {
  ul {
    @extend .list-unstyled;
    border-bottom: 1px solid rgba($primary, 25%);
    padding-bottom: 15px;
    &:last-of-type {
      border-bottom: none;
      margin-bottom: 0;
    }
    b {
      color: $dark;
    }
  }
}


/*================*/
/*  MURAL AVISOS  */
/*================*/
#mural-avisos {
  ul {
    @extend .list-unstyled;
  }  
}


/*==============*/
/*  MURAL MISC  */
/*==============*/
.mural-control {
  margin-bottom: 15px;
}


/*=============*/
/*  ADMIN  */
/*=============*/
#admin {
  .profile-picture {
    img {
      display: block;
      margin: 15px auto 10px;
      height: auto;
      width: 240px;
      @include border-radius(160px);
    }
  }
  .card {
    text-align: justify;
  }
  .card-title {
    text-align: center;
  }
  .list-group-item {
    position: relative;
    font-size: 12px;
    padding-left: 35px;
    i.material-icons {
      position: absolute;
      font-size: 19px;
      left: 10px;
      top: 50%;
      @include translateY(-50%);
    }
  }

}


/*===================*/
/*  INDEX PROFESSOR  */
/*===================*/



/*==========*/
/*  FOOTER  */
/*==========*/
footer {
  background-color: darken($light, 5%);
  margin-top: 7px;
  padding-top: 7px;
  padding-bottom: 7px;
  text-align: center;
  span {
    color: $dark;
    font-size: 9px;
    text-transform: uppercase;
  }
  #fatec-btn {
    position: relative;
    bottom: auto;
    right: auto;
    display: block;
    margin: 0 auto;
  }
}